
@{
    ViewBag.Title = "Administration";
}


<p class="textcenter margin-top">
    Velkommen til administrationssystem til BGS website.<br/>
    Brug menuen foroven til, at valgte hvad du vil rette i.
</p>