/*sendbeskedpreivew*/
.bedskedkontakt
{
    margin-bottom:10px; 
}


/*kontakt*/
.kontaktover{
    margin-bottom:10%;
}


div.kontaktoplysninger
{
    float:left; 
}

.break{
    margin-right:0.2%;
}

 .googlemaps
{
     float:right; 
}

 .kontaktformular
{
    float:left;
    margin-top:20px;
    margin-left:5px;
    display: block;
    clear: both;
}

 .kortifame{
     float:left;
     width:110%;
     min-height:250px;
     border:none;
 }



